*{
    margin: 0;
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.desktop-nav{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.37) 0 1px 5px;
}

.logo-text{
    padding: 1.5rem 3.3rem 1rem 3.3rem;
    font-size: x-large;
    color: rgb(59, 59, 59);
}

.menu{
    align-self: flex-end;
    font-size: large;
    padding-bottom: 1rem;
    overflow: hidden;
}
.menu > a{
    text-decoration: none;
    padding: 1.5rem;
    color: rgb(80, 80, 80);
}
.menu > a:hover{
    color: black;
}

.resume{
    align-self: flex-end;
    padding: 0.5rem 1.2rem;
    margin-bottom: 1rem;
    background-color: white;
    border: 1px solid rgb(80, 80, 80);
    border-radius: 15px;
    margin-left: 35%;
    display: block;
    text-decoration: none;
    color: rgb(80, 80, 80);
}
.resume:hover{
    border: none;
    box-shadow: rgba(61, 61, 61, 0.438) 1px 1px 5px;
    background-color:rgb(255, 93, 93);
    opacity: 0.75;
    color: black;
}



.divimg{
    height: 300px;
    width: 400px;
      background-color: rgb(255, 252, 98);
      border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
      animation: morphingy 10s infinite;
      box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
      margin: 25px;
}
  
  .divimg::before{
    position: absolute;
    content: " ";
    background-color: rgb(255, 93, 93);
    height: 300px;
    width: 375px;
    margin-left: -25px;
    border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
    animation: morphingr 10s infinite;
    box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
    opacity: 75%;
  }
  
  .divimg::after{
    position: absolute;
    content: " ";
    background: url("images/unnamed.gif");
    height: 300px;
    width: 375px;
    margin-top: 0;
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
    animation: morphing 10s infinite linear;
    opacity: 1;
  }

  @keyframes morphingy {
    0% {
      border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
    }
    25% {
      border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    }
    50% {
      border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
    }
    75% {
      border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
    }
  }

@keyframes morphingr {
    0% {
      border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
    }
    25% {
      border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
    }
    50% {
      border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
    }
    75% {
      border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    }
  }

@keyframes morphing {
    0% {
      border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    }
    25% {
      border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
    }
    50% {
      border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
    }
    75% {
      border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
    }
  }

.red{
  color: rgb(255, 93, 93);
  opacity: 0.75;
  font-size: larger;
}



.landing{
    display: flex;
    flex-flow: row nowrap;
    height: 91vh;
}
.art{
    min-width: 50%;
    padding: 150px;
    overflow: hidden;
}
.content{
    min-width: 50%;
}

.content > img{
  position: absolute;
  top: 150px;
  left: 400px;
}
.center{
    position: absolute;
    padding-bottom: 35px;
    top: 325px;
    left: 200px;
}

.center::before{
   content: "";
   background-color: yellow;
   height: 5px;
   width: 50%;
   position: absolute;
   top: 100px;
   border-radius: 10px;
}

.p2{
    padding: 2rem;
}

.heading
{
    padding: 5px 50px;
    font-size: 2.5em;
}

.heading::before{
    content: "";
    position: absolute;
    background-color: rgb(255, 93, 93);
    opacity: 0.5;
    width: 25%;
    height: 10px;
    border-radius: 10px;
    margin-left: -10px; 
    margin-top: 32px;
    z-index: -1;
}

.institute{
  display: flex;
  flex-direction: row;
  margin: 50px;
  border-bottom: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to right, #743ad5 0%, #ffffff00 100%);
  background-size: 100% 50%;
}

.institute > div{
  margin: 0 20px;
}

.totop{
  height: 3em;
  width: 3em;
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  background-color: white;
}

.show{
  opacity: 1;
}
.light{
  color: rgb(104, 102, 102);
  padding-bottom: 1rem;
  font-size: large;
}

.contact{
  padding: 0.5rem;
  color: rgb(63, 63, 63);
}
.contact > a{
  text-decoration: none;
}

.social{
  font-size: 2rem;
}

.gh{
  color: #333333;
  margin-right: 0.8rem;
}
.fb{
  color: #4267B2;
  margin-right: 0.8rem;
}
.tw{
  color: #1dcaff;
  margin-right: 0.8rem;
}
.in{
  color: #4267B2;
  margin-right: 0.8rem;
}
.tg{
  color: #0088CC;
  margin-right: 0.8rem;
}

.foot{
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}
.foot > i{
  padding: 0.2rem;
}

.projects{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 3rem;
}

.project-tile{
  display: flex;
  flex-direction: column;
  border-radius: 2rem 2rem 0.5rem 0.5rem;
  box-shadow: black 0px 2px 5px;
  width: 30%;
  margin-right: 3rem;
}
.project-tile:hover{
  box-shadow: black 0px 1px 1px;
}
.project-img
{
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-desc{
  padding: 1rem;
  min-height: 10rem;
  text-align: center;
}

.head{
  font-size: large;
  color: #3f3e3e;
  padding-bottom: 0.5rem;
}

.desc{
  font-size: 0.9rem;
  color: #838383;
  padding-bottom: 0.5rem;
}

.pbtn{
  padding: 1rem
}

.btnlnk{
  text-decoration: none;
  color: #838383;
  border: 1px solid #838383;
  font-size: 0.8rem;
  padding: 0.4rem;
  border-radius: 5px;
}
.btnlnk:hover{
  background-color: #838383;
  color: white;
}

.tech{
  font-size: 1.5rem;
  color: #838383;
  padding-top: 1rem;
}