html, body{overflow: hidden;}

.lines{
  background-color: rgba(92, 91, 91, 0.295);
  height: 50%;
  width: 1px;
  position: absolute;
  z-index: -1;
  z-index: -1;
  z-index: -1;
  transform: rotate(60deg);
}

.main{
  display: flex;
  flex-direction: row;
}

.width_half{
  width: 50%;
}

.info{
  padding: 50px;
}

.title{
  padding: 2rem 0;
}

.title::after{
  content: "";
  height: 2px;
  width: 30%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.562);
  position: absolute;
}
.info::before{
  content: "";
  height: 70%;
  width: 1px;
  margin: -50px;
  bottom: 10rem;
  background-color: rgba(105, 105, 105, 0.24);
  position: absolute;
}
.art::before{
  content: "";
  background-color: rgba(105, 105, 105, 0.24);
  height: 65%;
  width: 1px;
  position: absolute;
  right: 48.5rem;
  bottom: 5rem;
}

.container{
    display: flex;
    justify-content: center;
    min-height: 400px;
    margin-top: 10vh;
}

.divimg{
    height: 340px;
    width: 500px;
    background-color: rgb(255, 252, 98);
    border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
    animation: morphingy 10s infinite;
    box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
    margin: 25px;
}

.divimg::before{
  position: absolute;
  content: " ";
  background-color: rgb(255, 93, 93);
  height: 340px;
  width: 475px;
  margin-left: -25px;
  border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
  animation: morphingr 10s infinite;
  box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
  opacity: 75%;
}

.divimg::after{
  position: absolute;
  content: " ";
  background: url("images/unnamed.gif");
  height: 340px;
  width: 475px;
  margin-top: 0;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
  animation: morphing 10s infinite linear;
  opacity: 1;
}

@keyframes morphingy {
    0% {
      border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
    }
    25% {
      border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    }
    50% {
      border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
    }
    75% {
      border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
    }
  }

@keyframes morphingr {
    0% {
      border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
    }
    25% {
      border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
    }
    50% {
      border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
    }
    75% {
      border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    }
  }

@keyframes morphing {
    0% {
      border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    }
    25% {
      border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
    }
    50% {
      border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
    }
    75% {
      border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
    }
  }

